<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:http="http://cxf.apache.org/transports/http/configuration"
       xmlns:jaxrs-client="http://cxf.apache.org/jaxrs-client" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="
      http://cxf.apache.org/transports/http/configuration
      http://cxf.apache.org/schemas/configuration/http-conf.xsd
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://cxf.apache.org/jaxrs-client
      http://cxf.apache.org/schemas/jaxrs-client.xsd
      http://cxf.apache.org/jaxrs
      http://cxf.apache.org/schemas/jaxrs.xsd">

    <http:conduit name="https://api.guildwars2.com/v1/.*">
    </http:conduit>

    <jaxrs-client:client id="gw2WvWClient"
                         address="https://api.guildwars2.com/v1"
                         serviceClass="com.auguryrock.luv4s.rest.Gw2WvWClient">
        <jaxrs-client:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
        </jaxrs-client:providers>
    </jaxrs-client:client>

</beans>