<span>EU matches</span>
<ul>
    <li ng-repeat="match in euMatches">
        <a href="#/match/{{match.id}}">{{match.id}}</a>
        <ul>
            <li ng-repeat="world in match.worlds | orderBy: 'colour'">
                <a href="#/world/{{world.id}}/{{match.id}}">{{ world.nameKey | translate }} ({{world.colour}}, {{world.score}})</a>
            </li>
        </ul>
    </li>
</ul>


<span>US matches</span>
<ul>
    <li ng-repeat="match in usMatches">
        <a href="#/match/{{match.id}}">{{match.id}}</a>
        <ul>
            <li ng-repeat="world in match.worlds">
                <a href="#/world/{{world.id}}/{{match.id}}">{{ world.nameKey | translate }} ({{world.colour}}, {{world.score}})</a>
            </li>
        </ul>
    </li>
</ul>
