<div ng-controller="signUpCtrl">
    <form name="signUpForm" ng-submit="submit()">
        <div>
            Name: <input type="text" name="name" ng-model="player.name" required=""></br>
        </div>
        <div>
            Password: <input type="text" name="password" ng-model="player.password" required=""></br>
        </div>
        <div>
            Gw2 AccountId: <input type="text" name="accountId" ng-model="player.accountId" required=""></br>
        </div>
        <div>
            Comments: <input type="text" name="description" ng-model="player.description"></br>
        </div>
        <input type="submit" value="Sign Up!" />
    </form>
</div>